In [2]:
from apexpro.constants import APEX_HTTP_MAIN
from apexpro.http_public import HttpPublic
from requests import request
import numpy as np
import pandas as pd

client = HttpPublic(APEX_HTTP_MAIN)
%load_ext autoreload
%autoreload 2

2023-09-27 13:58:11 - apexpro - WARNING - This HTTP class is maintained for compatibility purposes. You should prefer importing market-specific classes, like so: from apexpro import HTTP;
2023-09-27 13:58:11 - apexpro - WARNING - This HTTP class is maintained for compatibility purposes. You should prefer importing market-specific classes, like so: from apexpro import HTTP;

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
data = client.klines(symbol="BTCUSDC",interval="5")['data']['BTCUSDC']

In [5]:
candles_list = []
for row_index, candle in enumerate(data, 0):
    candles_list.append(
        [
            candle["t"],
            float(candle["o"]),
            float(candle["h"]),
            float(candle["l"]),
            float(candle["c"]),
            float(candle["v"]),
        ]
    )

In [6]:
candles_df = pd.DataFrame(candles_list, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])
candles_df.timestamp = pd.to_datetime(candles_df.timestamp, unit='ms')
candles_df

               timestamp     open     high      low    close  volume
0    2023-09-22 16:00:00  26633.5  26643.5  26620.0  26620.0   3.726
1    2023-09-22 16:05:00  26620.0  26625.5  26620.0  26623.0   1.343
2    2023-09-22 16:10:00  26623.0  26624.5  26620.0  26620.5   1.865
3    2023-09-22 16:15:00  26620.5  26638.0  26620.5  26638.0   3.967
4    2023-09-22 16:20:00  26638.0  26642.5  26621.5  26634.5   3.932
...                  ...      ...      ...      ...      ...     ...
1495 2023-09-27 20:35:00  26211.5  26214.0  26203.0  26214.0   4.073
1496 2023-09-27 20:40:00  26214.0  26217.0  26208.0  26210.5   5.853
1497 2023-09-27 20:45:00  26210.5  26264.5  26204.0  26258.5   7.799
1498 2023-09-27 20:50:00  26258.5  26258.5  26219.0  26222.5   3.571
1499 2023-09-27 20:55:00  26222.5  26237.5  26218.5  26237.0   2.168

[1500 rows x 6 columns]

In [ ]:
candles_list