In [1]:
from quantfreedom.utils import clear_cache


clear_cache()

In [2]:
import pandas as pd
import numpy as np
import glob
import os

In [3]:
thing = pd.read_csv('BTCUSDT-aggTrades-2022-05.csv', names=["agg_trade_id", "price", "asset_size", "first_trade_id", "last_trade_id", "timestamp", "is_buyer"])

In [4]:
thing.to_csv('thing.csv', index=False)

In [8]:
pd.read_csv('BTCUSDT-aggTrades-2022-06.csv', names=["agg_trade_id", "price", "asset_size", "first_trade_id", "last_trade_id", "timestamp", "is_buyer"], header=0)

,agg_trade_id,price,asset_size,first_trade_id,last_trade_id,timestamp,is_buyer
0,1252548882,31797.9,2.017,2311175138,2311175148,1654041600024,False
1,1252548883,31797.9,0.102,2311175149,2311175152,1654041602739,False
2,1252548884,31797.8,0.062,2311175153,2311175154,1654041602761,True
3,1252548885,31797.9,0.043,2311175155,2311175156,1654041602762,False
4,1252548886,31797.8,0.186,2311175157,2311175161,1654041602762,True
...,...,...,...,...,...,...,...
74364393,1326913275,19920.7,0.064,2481684047,2481684047,1656633599973,False
74364394,1326913276,19921.0,0.039,2481684048,2481684048,1656633599973,False
74364395,1326913277,19922.3,0.001,2481684049,2481684049,1656633599992,False
74364396,1326913278,19922.6,0.002,2481684050,2481684050,1656633599992,False
74364397,1326913279,19923.5,0.202,2481684051,2481684051,1656633599992,False