In [6]:
import quantfreedom as qf
import pandas as pd
from quantfreedom.indicators.talib_ind import *
from quantfreedom.evaluators.evaluators import _is_below

%load_ext autoreload
%autoreload 2

prices = pd.read_hdf('data/prices.hd5')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
prices

symbol                BTCUSDT                               EOSUSD
candle_info              open      high       low     close   open high  low
open_time
2020-10-01 00:00:00 10,759.00 10,817.50 10,759.00 10,790.00   2.58 2.58 2.58  \
2020-10-01 00:30:00 10,790.00 10,790.50 10,775.00 10,777.00   2.58 2.58 2.58
2020-10-01 01:00:00 10,777.00 10,793.00 10,777.00 10,793.00   2.58 2.59 2.58
2020-10-01 01:30:00 10,793.00 10,836.00 10,792.50 10,822.00   2.59 2.59 2.59
2020-10-01 02:00:00 10,822.00 10,841.50 10,808.00 10,808.50   2.59 2.60 2.59
...                       ...       ...       ...       ...    ...  ...  ...
2021-04-14 21:30:00 62,703.50 62,812.50 62,615.50 62,795.00   7.58 7.62 7.54
2021-04-14 22:00:00 62,795.00 62,825.00 62,591.00 62,680.00   7.61 7.73 7.55
2021-04-14 22:30:00 62,680.00 62,993.00 62,680.00 62,849.50   7.65 7.77 7.65
2021-04-14 23:00:00 62,849.50 62,999.00 62,750.00 62,999.00   7.71 7.79 7.67
2021-04-14 23:30:00 62,999.00 62,999.00 62,606.00 62,921.00   7.78 7.78 7.63

symbol                      ETHUSD                            LTCUSDT
candle_info         close     open     high      low    close    open   high
open_time
2020-10-01 00:00:00  2.58   359.85   361.45   358.85   358.95     NaN    NaN  \
2020-10-01 00:30:00  2.58   358.95   359.75   358.95   359.25     NaN    NaN
2020-10-01 01:00:00  2.59   359.25   359.80   358.80   359.75     NaN    NaN
2020-10-01 01:30:00  2.59   359.75   361.40   359.75   361.20     NaN    NaN
2020-10-01 02:00:00  2.59   361.20   364.05   361.20   362.95     NaN    NaN
...                   ...      ...      ...      ...      ...     ...    ...
2021-04-14 21:30:00  7.61 2,406.20 2,440.00 2,397.20 2,434.05  269.26 281.37
2021-04-14 22:00:00  7.65 2,434.05 2,445.00 2,418.65 2,427.00  280.82 282.02
2021-04-14 22:30:00  7.71 2,427.00 2,438.60 2,423.50 2,431.30  278.49 281.31
2021-04-14 23:00:00  7.78 2,431.30 2,450.00 2,431.30 2,445.95  277.50 280.17
2021-04-14 23:30:00  7.68 2,445.95 2,445.95 2,417.40 2,438.20  279.05 280.95

symbol                            XRPUSD
candle_info            low  close   open high  low close
open_time
2020-10-01 00:00:00    NaN    NaN   0.24 0.24 0.24  0.24
2020-10-01 00:30:00    NaN    NaN   0.24 0.24 0.24  0.24
2020-10-01 01:00:00    NaN    NaN   0.24 0.24 0.24  0.24
2020-10-01 01:30:00    NaN    NaN   0.24 0.24 0.24  0.24
2020-10-01 02:00:00    NaN    NaN   0.24 0.24 0.24  0.24
...                    ...    ...    ...  ...  ...   ...
2021-04-14 21:30:00 269.11 280.82   1.78 1.82 1.77  1.82
2021-04-14 22:00:00 278.24 278.49   1.82 1.82 1.77  1.78
2021-04-14 22:30:00 276.64 277.50   1.78 1.82 1.78  1.80
2021-04-14 23:00:00 277.46 279.05   1.80 1.84 1.79  1.83
2021-04-14 23:30:00 277.95 279.41   1.83 1.85 1.82  1.84

[9408 rows x 20 columns]

In [25]:
rsi = from_talib(
    func_name='rsi',
    price_data=prices,
    #input_names = ['close'],
    parameters = {'timeperiod': [15, 20, 25, 30]}
).data

symbol                BTCUSDT                      EOSUSD
output                   real                        real
candle_body         ["close"]                   ["close"]
rsi_timeperiod             15    20    25    30        15    20    25    30
open_time
2020-10-01 00:00:00       NaN   NaN   NaN   NaN       NaN   NaN   NaN   NaN  \
2020-10-01 00:30:00       NaN   NaN   NaN   NaN       NaN   NaN   NaN   NaN
2020-10-01 01:00:00       NaN   NaN   NaN   NaN       NaN   NaN   NaN   NaN
2020-10-01 01:30:00       NaN   NaN   NaN   NaN       NaN   NaN   NaN   NaN
2020-10-01 02:00:00       NaN   NaN   NaN   NaN       NaN   NaN   NaN   NaN
...                       ...   ...   ...   ...       ...   ...   ...   ...
2021-04-14 21:30:00     45.28 45.85 46.81 47.78     53.37 52.73 52.76 52.99
2021-04-14 22:00:00     43.88 44.77 45.90 46.99     54.99 53.95 53.75 53.83
2021-04-14 22:30:00     46.50 46.72 47.46 48.29     56.95 55.44 54.96 54.84
2021-04-14 23:00:00     48.76 48.41 48.81 49.41     59.35 57.28 56.44 56.10
2021-04-14 23:30:00     47.64 47.58 48.14 48.84     54.74 53.97 53.83 53.91

symbol                 ETHUSD                     LTCUSDT
output                   real                        real
candle_body         ["close"]                   ["close"]
rsi_timeperiod             15    20    25    30        15    20    25    30
open_time
2020-10-01 00:00:00       NaN   NaN   NaN   NaN       NaN   NaN   NaN   NaN  \
2020-10-01 00:30:00       NaN   NaN   NaN   NaN       NaN   NaN   NaN   NaN
2020-10-01 01:00:00       NaN   NaN   NaN   NaN       NaN   NaN   NaN   NaN
2020-10-01 01:30:00       NaN   NaN   NaN   NaN       NaN   NaN   NaN   NaN
2020-10-01 02:00:00       NaN   NaN   NaN   NaN       NaN   NaN   NaN   NaN
...                       ...   ...   ...   ...       ...   ...   ...   ...
2021-04-14 21:30:00     66.12 63.93 62.82 62.18     63.93 60.90 59.27 58.31
2021-04-14 22:00:00     64.17 62.46 61.62 61.16     60.58 58.39 57.24 56.59
2021-04-14 22:30:00     64.85 63.01 62.08 61.55     59.17 57.33 56.38 55.86
2021-04-14 23:00:00     67.11 64.84 63.63 62.89     60.71 58.57 57.42 56.76
2021-04-14 23:30:00     64.75 63.10 62.23 61.72     61.07 58.86 57.67 56.97

symbol                 XRPUSD
output                   real
candle_body         ["close"]
rsi_timeperiod             15    20    25    30
open_time
2020-10-01 00:00:00       NaN   NaN   NaN   NaN
2020-10-01 00:30:00       NaN   NaN   NaN   NaN
2020-10-01 01:00:00       NaN   NaN   NaN   NaN
2020-10-01 01:30:00       NaN   NaN   NaN   NaN
2020-10-01 02:00:00       NaN   NaN   NaN   NaN
...                       ...   ...   ...   ...
2021-04-14 21:30:00     56.21 54.54 54.01 53.93
2021-04-14 22:00:00     52.11 51.52 51.57 51.85
2021-04-14 22:30:00     53.82 52.82 52.62 52.75
2021-04-14 23:00:00     56.84 55.14 54.51 54.34
2021-04-14 23:30:00     57.71 55.81 55.06 54.81

[9408 rows x 20 columns]

In [ ]:
ema = from_talib(
    func_name='ema',
    price_data=prices,
    input_names = ['close'],
    parameters = {'timeperiod': [100,200,300]}
)

In [ ]:
from_talib(
    func_name='ema',
    indicator_data=rsi.data,
    parameters = {'timeperiod': [50, 70, 90]}
).data

In [ ]:
_is_below(
    want_to_evaluate=rsi.data,
    user_args=[50,60],
)