In [3]:
import os
import sys

sys.dont_write_bytecode = True
os.environ["NUMBA_DISABLE_JIT"] = "1"
os.environ["NUMBA_DEBUG_CACHE"] = "1"

In [3]:
import numpy as np
import pandas as pd
from my_stuff import MufexKeys
from quantfreedom.enums import *
from quantfreedom.exchanges.mufex_exchange.mufex import Mufex
from quantfreedom.exchanges.exchange import Exchange

mufex_main = Mufex(
    api_key=MufexKeys.api_key,
    secret_key=MufexKeys.secret_key,
    use_test_net=False,
)

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
pd.read_hdf('./15min_candles.h5')

           timestamp      open      high       low     close
0      1598918400000  11658.11  11675.00  11633.36  11642.00
1      1598919300000  11642.00  11645.99  11531.34  11585.93
2      1598920200000  11585.93  11626.52  11570.26  11610.00
3      1598921100000  11610.39  11632.55  11599.39  11618.27
4      1598922000000  11618.27  11634.35  11604.24  11611.05
...              ...       ...       ...       ...       ...
21692  1618441200000  62917.61  63000.00  62852.77  62852.77
21693  1618442100000  62852.77  63111.00  62806.96  63088.62
21694  1618443000000  63088.63  63088.63  62860.00  62926.26
21695  1618443900000  62926.26  63158.38  62641.53  63019.10
21696  1618444800000  63018.34  63478.92  63008.42  63248.21

[21697 rows x 5 columns]