In [1]:
import numpy as np
import pandas as pd
from my_stuff import MufexKeys, MufexTestKeys
from quantfreedom.exchanges.mufex_exchange.mufex import Mufex
from quantfreedom.indicators.tv_indicators import *
from quantfreedom.plotting.plotting_base import *
from quantfreedom.exchanges.exchange import Exchange
from quantfreedom.helper_funcs import dl_ex_candles, candles_to_df
np.set_printoptions(formatter={"float_kind": "{:0.2f}".format})

%load_ext autoreload
%autoreload 2

In [3]:
candles = dl_ex_candles(exchange="binance_us", symbol="BTCUSDT", timeframe="1h", candles_to_dl=200)
open = candles[:, 1]
high = candles[:, 2]
low = candles[:, 3]
close = candles[:, 4]
close_shift = np.roll(candles[:, 4], 1)
candles_to_df(candles)

                         timestamp      open      high       low     close
datetime
2023-11-06 17:00:00  1699290000000  34974.06  35027.47  34896.58  34973.81
2023-11-06 18:00:00  1699293600000  34984.79  35003.49  34811.38  34958.75
2023-11-06 19:00:00  1699297200000  34958.75  35089.89  34921.90  35052.82
2023-11-06 20:00:00  1699300800000  35064.65  35073.82  34907.73  35024.50
2023-11-06 21:00:00  1699304400000  35024.50  35045.99  34898.74  35014.27
...                            ...       ...       ...       ...       ...
2023-11-14 20:00:00  1699992000000  35350.00  35510.70  35263.16  35315.00
2023-11-14 21:00:00  1699995600000  35315.01  35617.47  35269.50  35578.53
2023-11-14 22:00:00  1699999200000  35568.17  35631.58  35457.00  35625.04
2023-11-14 23:00:00  1700002800000  35615.01  35674.85  35518.92  35557.53
2023-11-15 00:00:00  1700006400000  35550.00  35629.42  35528.00  35547.49

[200 rows x 5 columns]

In [4]:
rsi_tv(source=close, length=14)

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, 47.96, 46.34, 38.56, 31.60, 31.32, 39.44, 42.59, 45.69, 40.56,
       37.95, 49.77, 67.69, 69.69, 72.40, 67.52, 59.29, 61.76, 60.45,
       61.10, 58.27, 56.23, 58.16, 54.98, 55.08, 53.87, 56.28, 56.81,
       60.79, 56.73, 59.22, 59.39, 54.49, 49.89, 57.70, 52.87, 63.33,
       64.40, 64.13, 62.23, 68.65, 60.06, 66.74, 68.00, 75.68, 76.99,
       79.88, 76.21, 79.16, 70.36, 72.22, 74.87, 70.80, 71.78, 73.02,
       77.19, 83.75, 62.61, 49.41, 53.44, 49.70, 49.52, 52.61, 51.63,
       52.26, 54.24, 51.53, 53.84, 57.12, 54.39, 55.45, 54.56, 51.31,
       48.38, 49.53, 50.32, 53.90, 60.94, 63.14, 56.90, 58.54, 59.15,
       64.30, 59.40, 59.95, 59.82, 60.15, 60.83, 63.02, 60.46, 60.59,
       51.62, 53.00, 50.70, 52.51, 52.28, 52.30, 50.22, 48.46, 50.71,
       49.32, 49.04, 54.27, 55.45, 58.10, 51.28, 53.60, 52.86, 52.43,
       53.36, 47.19, 46.71, 41.01, 54.54, 44.16, 46.05, 44.75, 48.06,
       49.10, 54.06, 56.34, 53.33, 53.10, 52.06, 52.52, 51.50, 47.50,
       51.14, 55.89, 55.27, 51.92, 50.90, 54.86, 52.10, 55.16, 54.97,
       54.89, 49.61, 51.34, 58.67, 53.74, 43.33, 40.61, 40.40, 42.33,
       43.82, 47.58, 44.40, 44.35, 34.83, 43.31, 38.09, 37.15, 40.46,
       42.22, 33.84, 38.48, 45.15, 41.34, 31.24, 31.12, 30.55, 25.01,
       30.35, 35.85, 37.71, 39.31, 44.24, 48.44, 50.02, 52.61, 41.67,
       41.36, 34.06, 37.92, 47.46, 49.94, 36.36, 40.92, 36.47, 24.62,
       25.88, 25.56, 34.30, 35.74, 34.56, 34.37])