In [2]:
from my_stuff import MufexKeys
from quantfreedom.exchanges.mufex_exchange.mufex import Mufex
from lightweight_charts import Chart
from time import sleep
import pandas as pd
from time import mktime
import numpy as np

mufex_main = Mufex(
    api_key=MufexKeys.api_key,
    secret_key=MufexKeys.secret_key,
    use_test_net=False,
)
symbol="BTCUSDT"

%load_ext autoreload
%autoreload 2

In [2]:
candles = mufex_main.get_candles_df(
    symbol=symbol,
    timeframe='1m',
    candles_to_dl=300,
    limit=200
)

It took 00 mins and 02 seconds to download 300 candles

In [31]:
int(mktime(candles.timestamp[1].timetuple())) * 1000

1697067000000

In [45]:
candles.timestamp = candles.timestamp.astype(np.int64) // 100000

In [46]:
candles

          timestamp     open     high      low    close
0    16970417400000  26657.9  26695.0  26657.9  26695.0
1    16970418000000  26695.0  26695.0  26684.9  26686.8
2    16970418600000  26686.8  26721.3  26684.5  26719.7
3    16970419200000  26719.7  26723.3  26711.5  26719.0
4    16970419800000  26719.0  26720.2  26707.8  26707.8
..              ...      ...      ...      ...      ...
295  16970594400000  26741.8  26742.1  26726.4  26728.7
296  16970595000000  26728.7  26732.6  26725.5  26725.6
297  16970595600000  26725.6  26725.7  26715.0  26715.0
298  16970596200000  26715.0  26715.0  26704.5  26705.8
299  16970596800000  26705.8  26705.9  26702.6  26702.9

[300 rows x 5 columns]

In [25]:
lookback_rsi = candles[-30 : -1]
filter = lookback_rsi.close[(lookback_rsi.close < 26710)]
if filter.any():
    for i in range (len(filter)-1, -1,-1):
        rsi_divergence_index = filter[filter.notna()].index[i]
        print(rsi_divergence_index)
        get_idx = lookback_rsi.index.get_loc(rsi_divergence_index)
        print(candles.low[rsi_divergence_index])

2023-10-11 20:21:00
26702.7
2023-10-11 20:20:00
26697.4
2023-10-11 20:19:00
26692.4
2023-10-11 20:18:00
26698.5
2023-10-11 20:17:00
26698.5
2023-10-11 20:12:00
26707.8

In [21]:
filter

timestamp
2023-10-11 20:12:00    26707.8
2023-10-11 20:17:00    26698.5
2023-10-11 20:18:00    26707.6
2023-10-11 20:19:00    26700.4
2023-10-11 20:20:00    26703.0
2023-10-11 20:21:00    26704.1
Name: close, dtype: float64

In [4]:
mufex_main.get_closed_pnl(symbol=symbol)

Exception: Data or List is empty OK -> list index out of range

In [3]:
mufex_main.get_latest_pnl_result(symbol=symbol)

-0.12820746