In [1]:
from tqdm import tqdm
from time import sleep
import numpy as np
import pandas as pd
from datetime import datetime
import ccxt
from re import sub
import talib
from quantfreedom.testing import *
prices = pd.read_hdf('../tests/data/prices.hd5')

In [2]:
rsi_ind = testing_from_talib(
    func_name='rsi',
    df_prices=prices,
    cart_product=False,
    combos=False,
    timeperiod=[15, 30, 50],
)

In [7]:
bbands = testing_from_talib(
    func_name='bbands',
    df_prices=prices,
    cart_product=False,
    combos=True,
    timeperiod=[2,5,6]
)
bbands

symbol                BTCUSDT                                           \
BBANDS_output_names upperband                     middleband
BBANDS_timeperiod           2         5         6          2         5
BBANDS_nbdevup              2         2         2          2         2
BBANDS_nbdevdn              2         2         2          2         2
BBANDS_matype               0         0         0          0         0
open_time
2022-04-01 00:00:00       NaN       NaN       NaN        NaN       NaN
2022-04-01 00:30:00 45,630.75       NaN       NaN  45,570.25       NaN
2022-04-01 01:00:00 45,740.25       NaN       NaN  45,339.75       NaN
2022-04-01 01:30:00 45,249.50       NaN       NaN  45,029.50       NaN
2022-04-01 02:00:00 45,054.50 45,894.69       NaN  44,784.50 45,169.80
...                       ...       ...       ...        ...       ...
2023-01-02 22:00:00 16,766.50 16,752.62 16,751.55  16,737.50 16,730.70
2023-01-02 22:30:00 16,737.00 16,760.43 16,758.05  16,709.00 16,724.10
2023-01-02 23:00:00 16,717.50 16,757.94 16,756.54  16,702.50 16,720.40
2023-01-02 23:30:00 16,731.00 16,765.61 16,763.62  16,689.00 16,709.60
2023-01-03 00:00:00 16,685.25 16,734.88 16,760.42  16,673.75 16,695.10

symbol                                                        XRPUSDT       \
BBANDS_output_names           lowerband                     upperband
BBANDS_timeperiod           6         2         5         6         2    5
BBANDS_nbdevup              2         2         2         2         2    2
BBANDS_nbdevdn              2         2         2         2         2    2
BBANDS_matype               0         0         0         0         0    0
open_time
2022-04-01 00:00:00       NaN       NaN       NaN       NaN       NaN  NaN
2022-04-01 00:30:00       NaN 45,509.75       NaN       NaN      0.83  NaN
2022-04-01 01:00:00       NaN 44,939.25       NaN       NaN      0.83  NaN
2022-04-01 01:30:00       NaN 44,809.50       NaN       NaN      0.83  NaN
2022-04-01 02:00:00       NaN 44,514.50 44,444.91       NaN      0.82 0.83
...                       ...       ...       ...       ...       ...  ...
2023-01-02 22:00:00 16,731.33 16,708.50 16,708.78 16,711.12      0.35 0.35
2023-01-02 22:30:00 16,724.75 16,681.00 16,687.77 16,691.45      0.35 0.36
2023-01-02 23:00:00 16,721.75 16,687.50 16,682.86 16,686.96      0.35 0.35
2023-01-02 23:30:00 16,711.67 16,647.00 16,653.59 16,659.71      0.35 0.35
2023-01-03 00:00:00 16,704.58 16,662.25 16,655.32 16,648.75      0.35 0.35

symbol
BBANDS_output_names      middleband           lowerband
BBANDS_timeperiod      6          2    5    6         2    5    6
BBANDS_nbdevup         2          2    2    2         2    2    2
BBANDS_nbdevdn         2          2    2    2         2    2    2
BBANDS_matype          0          0    0    0         0    0    0
open_time
2022-04-01 00:00:00  NaN        NaN  NaN  NaN       NaN  NaN  NaN
2022-04-01 00:30:00  NaN       0.83  NaN  NaN      0.82  NaN  NaN
2022-04-01 01:00:00  NaN       0.83  NaN  NaN      0.82  NaN  NaN
2022-04-01 01:30:00  NaN       0.82  NaN  NaN      0.82  NaN  NaN
2022-04-01 02:00:00  NaN       0.82 0.82  NaN      0.81 0.81  NaN
...                  ...        ...  ...  ...       ...  ...  ...
2023-01-02 22:00:00 0.35       0.35 0.35 0.35      0.35 0.35 0.35
2023-01-02 22:30:00 0.36       0.35 0.35 0.35      0.35 0.35 0.35
2023-01-02 23:00:00 0.36       0.35 0.35 0.35      0.35 0.35 0.35
2023-01-02 23:30:00 0.35       0.35 0.35 0.35      0.35 0.35 0.35
2023-01-03 00:00:00 0.35       0.35 0.35 0.35      0.34 0.34 0.34

[13296 rows x 18 columns]

In [4]:
ema_ind_on_rsi = testing_from_talib(
    func_name='ema',
    user_ind_df=rsi_ind,
    cart_product=False,
    combos=False,
    timeperiod=[5, 20, 30]
)
ema_ind_on_rsi

symbol              BTCUSDT                                                  \
RSI_timeperiod           15                30                50
RSI_EMA_timeperiod       5     20    30    5     20    30    5     20    30
open_time
2022-04-01 00:00:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 00:30:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 01:00:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 01:30:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 02:00:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...                     ...   ...   ...   ...   ...   ...   ...   ...   ...
2023-01-02 22:00:00   57.80 58.54 58.75 58.24 58.57 58.43 57.04 57.02 56.73
2023-01-02 22:30:00   54.01 57.39 57.96 56.25 57.97 58.03 55.87 56.69 56.52
2023-01-02 23:00:00   52.80 56.72 57.47 55.54 57.60 57.78 55.45 56.49 56.40
2023-01-02 23:30:00   48.95 55.25 56.42 53.26 56.75 57.19 54.03 55.99 56.07
2023-01-03 00:00:00   47.37 54.19 55.63 52.21 56.12 56.73 53.36 55.61 55.80

symbol              XRPUSDT
RSI_timeperiod           15                30                50
RSI_EMA_timeperiod       5     20    30    5     20    30    5     20    30
open_time
2022-04-01 00:00:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 00:30:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 01:00:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 01:30:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 02:00:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...                     ...   ...   ...   ...   ...   ...   ...   ...   ...
2023-01-02 22:00:00   65.74 66.19 64.05 63.06 61.92 59.81 59.78 58.38 56.62
2023-01-02 22:30:00   61.10 64.83 63.27 60.73 61.36 59.57 58.33 58.10 56.55
2023-01-02 23:00:00   57.83 63.53 62.49 59.07 60.82 59.32 57.30 57.83 56.46
2023-01-02 23:30:00   55.64 62.37 61.77 57.97 60.34 59.09 56.61 57.58 56.38
2023-01-03 00:00:00   51.76 60.62 60.62 55.87 59.52 58.62 55.27 57.11 56.14

[13296 rows x 18 columns]

In [9]:
bbands_ind_on_rsi = testing_from_talib(
    func_name='bbands',
    user_ind_df=rsi_ind,
    cart_product=False,
    combos=True,
    timeperiod=[2,5]
)
bbands_ind_on_rsi

symbol                BTCUSDT                                         \
RSI_timeperiod             15
BBANDS_output_names upperband       middleband       lowerband
BBANDS_timeperiod           2     5          2     5         2     5
BBANDS_nbdevup              2     2          2     2         2     2
BBANDS_nbdevdn              2     2          2     2         2     2
BBANDS_matype               0     0          0     0         0     0
open_time
2022-04-01 00:00:00       NaN   NaN        NaN   NaN       NaN   NaN
2022-04-01 00:30:00       NaN   NaN        NaN   NaN       NaN   NaN
2022-04-01 01:00:00       NaN   NaN        NaN   NaN       NaN   NaN
2022-04-01 01:30:00       NaN   NaN        NaN   NaN       NaN   NaN
2022-04-01 02:00:00       NaN   NaN        NaN   NaN       NaN   NaN
...                       ...   ...        ...   ...       ...   ...
2023-01-02 22:00:00     68.92 64.90      58.93 58.21     48.93 51.53
2023-01-02 22:30:00     57.68 67.31      50.18 55.80     42.67 44.29
2023-01-02 23:00:00     52.37 65.91      48.41 54.15     44.44 42.38
2023-01-02 23:30:00     54.96 66.47      45.81 51.18     36.66 35.89
2023-01-03 00:00:00     45.69 56.21      42.72 47.24     39.75 38.27

symbol                                                ...    XRPUSDT        \
RSI_timeperiod             30                         ...         30
BBANDS_output_names upperband       middleband        ... middleband
BBANDS_timeperiod           2     5          2     5  ...          2     5
BBANDS_nbdevup              2     2          2     2  ...          2     2
BBANDS_nbdevdn              2     2          2     2  ...          2     2
BBANDS_matype               0     0          0     0  ...          0     0
open_time                                             ...
2022-04-01 00:00:00       NaN   NaN        NaN   NaN  ...        NaN   NaN
2022-04-01 00:30:00       NaN   NaN        NaN   NaN  ...        NaN   NaN
2022-04-01 01:00:00       NaN   NaN        NaN   NaN  ...        NaN   NaN
2022-04-01 01:30:00       NaN   NaN        NaN   NaN  ...        NaN   NaN
2022-04-01 02:00:00       NaN   NaN        NaN   NaN  ...        NaN   NaN
...                       ...   ...        ...   ...  ...        ...   ...
2023-01-02 22:00:00     63.50 61.60      58.73 58.45  ...      62.42 63.91
2023-01-02 22:30:00     58.39 63.02      54.32 57.19  ...      58.32 62.11
2023-01-02 23:00:00     55.04 62.32      53.20 56.28  ...      55.91 60.16
2023-01-02 23:30:00     56.83 62.81      51.40 54.51  ...      55.75 58.48
2023-01-03 00:00:00     50.82 57.79      49.40 52.31  ...      53.72 55.97

symbol                                                                \
RSI_timeperiod                             50
BBANDS_output_names lowerband       upperband       middleband
BBANDS_timeperiod           2     5         2     5          2     5
BBANDS_nbdevup              2     2         2     2          2     2
BBANDS_nbdevdn              2     2         2     2          2     2
BBANDS_matype               0     0         0     0          0     0
open_time
2022-04-01 00:00:00       NaN   NaN       NaN   NaN        NaN   NaN
2022-04-01 00:30:00       NaN   NaN       NaN   NaN        NaN   NaN
2022-04-01 01:00:00       NaN   NaN       NaN   NaN        NaN   NaN
2022-04-01 01:30:00       NaN   NaN       NaN   NaN        NaN   NaN
2022-04-01 02:00:00       NaN   NaN       NaN   NaN        NaN   NaN
...                       ...   ...       ...   ...        ...   ...
2023-01-02 22:00:00     58.73 60.43     61.71 62.46      59.44 60.34
2023-01-02 22:30:00     53.82 55.24     59.74 63.51      56.87 59.23
2023-01-02 23:00:00     55.59 52.73     55.54 62.67      55.34 58.01
2023-01-02 23:30:00     55.75 51.64     55.23 61.26      55.23 56.96
2023-01-03 00:00:00     49.65 50.33     56.55 58.98      53.92 55.36

symbol
RSI_timeperiod
BBANDS_output_names lowerband
BBANDS_timeperiod           2     5
BBANDS_nbdevup              2     2
BBANDS_nbdevdn              2     2
BBANDS_matype               0     0
open_time
2022-04-01 00:00:00       NaN   NaN
2022-04-01 00:30:00       NaN   NaN
2022-04-01 01:00:00       NaN   NaN
2022-04-01 01:30:00       NaN   NaN
2022-04-01 02:00:00       NaN   NaN
...                       ...   ...
2023-01-02 22:00:00     57.17 58.22
2023-01-02 22:30:00     54.01 54.94
2023-01-02 23:00:00     55.13 53.35
2023-01-02 23:30:00     55.23 52.65
2023-01-03 00:00:00     51.28 51.75

[13296 rows x 36 columns]