In [135]:
import numpy as np
import pandas as pd

In [148]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [147]:
pd.DataFrame([9])

   0
0  9

In [138]:
array = np.random.randint(1,20,(6,5))
array

array([[17, 10,  2,  3, 15],
       [13,  8,  8,  1, 15],
       [16,  7, 16, 13, 19],
       [ 5, 17, 11, 19, 17],
       [ 1,  4, 17,  9, 14],
       [12, 15,  6, 16, 16]])

In [ ]:
pd.DataFrame(array)

In [142]:
df = pd.DataFrame(array)

In [140]:
df_index = ['Jan', 'Feb','Mar', 'April', 'May', 'June']

In [ ]:
df = pd.DataFrame(array, index=df_index)

In [ ]:
df_columns = ['USA', 'England', 'India', 'China', 'Japan']

In [ ]:
df = pd.DataFrame(array, index=df_index, columns=df_columns)

In [ ]:
df = pd.DataFrame(array)

In [144]:
df.index = df_index
df.columns = df_columns

        0   1   2   3   4
Jan    17  10   2   3  15
Feb    13   8   8   1  15
Mar    16   7  16  13  19
April   5  17  11  19  17
May     1   4  17   9  14
June   12  15   6  16  16