In [1]:
import pandas as pd
import numpy as np

from quantfreedom.enums.enums import OrderType
from quantfreedom.plotting.plot_helper_functions import (
    get_candle_trace_data,
    append_to_trace_data_list,
)

import plotly.graph_objects as go
import dash_bootstrap_components as dbc
from dash import Dash, dcc, html, dash_table
from jupyter_dash import JupyterDash
from plotly.subplots import make_subplots
from dash_bootstrap_templates import load_figure_template

from quantfreedom.utils import clear_cache
from quantfreedom.indicators.talib_ind import from_talib
from quantfreedom.evaluators.evaluators import eval_is_below, eval_is_above, combine_evals
import talib
from talib.abstract import Function
prices = pd.read_hdf('../data/prices.hd5')

In [6]:
ema_ind = from_talib(
    func_name='ema',
    df_prices=prices,
    cart_product=False,
    combos=False,
    timeperiod=[100, 200, 300],
)

In [7]:
ema_ind

symbol                BTCUSDT                     XRPUSDT
EMA_timeperiod            100       200       300     100  200  300
open_time
2022-04-01 00:00:00       NaN       NaN       NaN     NaN  NaN  NaN
2022-04-01 00:30:00       NaN       NaN       NaN     NaN  NaN  NaN
2022-04-01 01:00:00       NaN       NaN       NaN     NaN  NaN  NaN
2022-04-01 01:30:00       NaN       NaN       NaN     NaN  NaN  NaN
2022-04-01 02:00:00       NaN       NaN       NaN     NaN  NaN  NaN
...                       ...       ...       ...     ...  ...  ...
2023-01-02 22:00:00 16,649.63 16,633.00 16,644.63    0.34 0.34 0.34
2023-01-02 22:30:00 16,650.53 16,633.62 16,644.96    0.34 0.34 0.34
2023-01-02 23:00:00 16,651.71 16,634.38 16,645.40    0.34 0.34 0.34
2023-01-02 23:30:00 16,652.03 16,634.72 16,645.55    0.34 0.34 0.34
2023-01-03 00:00:00 16,652.57 16,635.16 16,645.77    0.34 0.34 0.34

[13296 rows x 6 columns]

In [4]:
rsi_is_below = eval_is_below(
    want_to_evaluate=rsi_ind,
    df_prices=prices,
    cand_ohlc='close',
)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\User\AppData\Local\Temp\ipykernel_14676\1791771764.py", line 1, in <module>
    rsi_is_below = eval_is_below(
  File "e:\coding\backtesters\quantfreedom\quantfreedom\evaluators\evaluators.py", line 167, in eval_is_below
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\pandas\core\frame.py", line 722, in __init__
    mgr = ndarray_to_mgr(
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\pandas\core\internals\construction.py", line 349, in ndarray_to_mgr
    _check_values_indices_shape_match(values, index, columns)
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\pandas\core\internals\construction.py", line 420, in _check_values_indices_shape_match
    raise ValueError(f"Shape of passed values is {passed}, indices imply {implied}")
ValueError: Shape of passed values is (13296, 6), indices imply (13296, 12)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\IPython\core\interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\IPython\core\ultratb.py", line 1288, in structured_traceback
    return FormattedTB.structured_traceback(
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\IPython\core\ultratb.py", line 1177, in structured_traceback
    return VerboseTB.structured_traceback(
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\IPython\core\ultratb.py", line 1030, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\IPython\core\ultratb.py", line 960, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\IPython\core\ultratb.py", line 870, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\IPython\core\ultratb.py", line 704, in lines
    return self._sd.lines
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\stack_data\core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\stack_data\core.py", line 660, in executing_piece
    return only(
  File "e:\Coding\virtual environments\qfFree\lib\site-packages\executing\executing.py", line 190, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [3]:
ema_ind_on_rsi = from_talib(
    func_name='ema',
    user_ind_df=rsi_ind,
    cart_product=False,
    combos=False,
    timeperiod=[20, 40, 60]
)
ema_ind_on_rsi

symbol              BTCUSDT                                                  \
RSI_timeperiod           15                30                50
RSI_EMA_timeperiod       20    40    60    20    40    60    20    40    60
open_time
2022-04-01 00:00:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 00:30:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 01:00:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 01:30:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 02:00:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...                     ...   ...   ...   ...   ...   ...   ...   ...   ...
2023-01-02 22:00:00   58.54 58.60 57.82 58.57 58.03 57.04 57.02 56.29 55.35
2023-01-02 22:30:00   57.39 58.01 57.45 57.97 57.75 56.88 56.69 56.16 55.29
2023-01-02 23:00:00   56.72 57.64 57.21 57.60 57.58 56.79 56.49 56.09 55.27
2023-01-02 23:30:00   55.25 56.84 56.69 56.75 57.14 56.53 55.99 55.85 55.14
2023-01-03 00:00:00   54.19 56.22 56.28 56.12 56.80 56.32 55.61 55.66 55.03

symbol              XRPUSDT
RSI_timeperiod           15                30                50
RSI_EMA_timeperiod       20    40    60    20    40    60    20    40    60
open_time
2022-04-01 00:00:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 00:30:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 01:00:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 01:30:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2022-04-01 02:00:00     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...                     ...   ...   ...   ...   ...   ...   ...   ...   ...
2023-01-02 22:00:00   66.19 61.90 58.54 61.92 57.91 55.15 58.38 55.10 52.92
2023-01-02 22:30:00   64.83 61.41 58.32 61.36 57.82 55.18 58.10 55.11 53.00
2023-01-02 23:00:00   63.53 60.92 58.09 60.82 57.72 55.20 57.83 55.12 53.07
2023-01-02 23:30:00   62.37 60.44 57.87 60.34 57.63 55.21 57.58 55.13 53.15
2023-01-03 00:00:00   60.62 59.64 57.41 59.52 57.34 55.10 57.11 55.00 53.13

[13296 rows x 18 columns]

In [4]:
ema_below_rsi = eval_is_below(
    want_to_evaluate=ema_ind_on_rsi,
    indicator_data=rsi_ind,
)

ValueError: operands could not be broadcast together with shapes (13296,) (39888,)

In [ ]:
combos_finished = combine_evals(
    bigger_df=ema_above_stoch_slowk,
    smaller_df=ema_below_rsi,
)

In [ ]:
combos_finished

In [ ]:
fig = go.Figure(
    data=[
        go.Scatter(
            x=prices.index,
            y=rsi_ind[15].values.flatten(),
            mode="lines",
            name="RSI",
        ),
        go.Scatter(
            x=prices.index,
            y=ema_ind_on_rsi[15][30].values,
            mode="lines",
            name="EMA on RSI",
        ),
        go.Scatter(
            x=prices.index,
            y=np.where(
                ema_below_rsi[(15, 30, "RSI")].values,
                ema_ind_on_rsi[(15, 30)].values,
                np.nan,
            ),
            mode="markers",
            name="Signals",
        ),
    ]
)
fig.show()