In [2]:
# import os
# import sys

# sys.dont_write_bytecode = True
# os.environ["NUMBA_DISABLE_JIT"] = "1"

import numpy as np
import pandas as pd

from quantfreedom.base import backtest_df_only
from quantfreedom.nb.simulate import simulate_up_to_6_nb
from quantfreedom.evaluators.evaluators import eval_is_below
from quantfreedom.indicators.talib_ind import from_talib
from quantfreedom.enums.enums import (
    LeverageMode,
    SizeType,
    OrderType,
    SL_BE_or_Trail_BasedOn,
)
from quantfreedom.testing import *
from quantfreedom.plotting.plotting_main import strat_dashboard

np.set_printoptions(formatter={"float_kind": "{:.2f}".format})
pd.options.display.float_format = "{:,.2f}".format

prices = pd.read_hdf("../data/prices.hd5")

rsi_ind = from_talib(
    func_name="rsi",
    prices=prices,
    cart_product=False,
    combos=False,
    timeperiod=[15, 30],
)
entries = eval_is_below(
    want_to_evaluate=rsi_ind,
    user_args=[30, 40, 50],
    cand_ohlc="close",
)

In [5]:
rsi_ind

symbol              BTCUSDT       EOSUSD       ETHUSD       LTCUSDT        \
RSI_timeperiod           15    30     15    30     15    30      15    30
open_time
2020-10-01 00:00:00     NaN   NaN    NaN   NaN    NaN   NaN     NaN   NaN
2020-10-01 00:30:00     NaN   NaN    NaN   NaN    NaN   NaN     NaN   NaN
2020-10-01 01:00:00     NaN   NaN    NaN   NaN    NaN   NaN     NaN   NaN
2020-10-01 01:30:00     NaN   NaN    NaN   NaN    NaN   NaN     NaN   NaN
2020-10-01 02:00:00     NaN   NaN    NaN   NaN    NaN   NaN     NaN   NaN
...                     ...   ...    ...   ...    ...   ...     ...   ...
2021-04-14 21:30:00   45.28 47.78  53.37 52.99  66.12 62.18   63.93 58.31
2021-04-14 22:00:00   43.88 46.99  54.99 53.83  64.17 61.16   60.58 56.59
2021-04-14 22:30:00   46.50 48.29  56.95 54.84  64.85 61.55   59.17 55.86
2021-04-14 23:00:00   48.76 49.41  59.35 56.10  67.11 62.89   60.71 56.76
2021-04-14 23:30:00   47.64 48.84  54.74 53.91  64.75 61.72   61.07 56.97

symbol              XRPUSD
RSI_timeperiod          15    30
open_time
2020-10-01 00:00:00    NaN   NaN
2020-10-01 00:30:00    NaN   NaN
2020-10-01 01:00:00    NaN   NaN
2020-10-01 01:30:00    NaN   NaN
2020-10-01 02:00:00    NaN   NaN
...                    ...   ...
2021-04-14 21:30:00  56.21 53.93
2021-04-14 22:00:00  52.11 51.85
2021-04-14 22:30:00  53.82 52.75
2021-04-14 23:00:00  56.84 54.34
2021-04-14 23:30:00  57.71 54.81

[9408 rows x 10 columns]

In [3]:
entries

symbol              BTCUSDT                                    EOSUSD         \
RSI_timeperiod           15                   30                   15
RSI_is_below             30     40     50     30     40     50     30     40
open_time
2020-10-01 00:00:00   False  False  False  False  False  False  False  False
2020-10-01 00:30:00   False  False  False  False  False  False  False  False
2020-10-01 01:00:00   False  False  False  False  False  False  False  False
2020-10-01 01:30:00   False  False  False  False  False  False  False  False
2020-10-01 02:00:00   False  False  False  False  False  False  False  False
...                     ...    ...    ...    ...    ...    ...    ...    ...
2021-04-14 21:30:00   False  False   True  False  False   True  False  False
2021-04-14 22:00:00   False  False   True  False  False   True  False  False
2021-04-14 22:30:00   False  False   True  False  False   True  False  False
2021-04-14 23:00:00   False  False   True  False  False   True  False  False
2021-04-14 23:30:00   False  False   True  False  False   True  False  False

symbol                             ... LTCUSDT                      XRPUSD  \
RSI_timeperiod                 30  ...      15     30                   15
RSI_is_below            50     30  ...      50     30     40     50     30
open_time                          ...
2020-10-01 00:00:00  False  False  ...   False  False  False  False  False
2020-10-01 00:30:00  False  False  ...   False  False  False  False  False
2020-10-01 01:00:00  False  False  ...   False  False  False  False  False
2020-10-01 01:30:00  False  False  ...   False  False  False  False  False
2020-10-01 02:00:00  False  False  ...   False  False  False  False  False
...                    ...    ...  ...     ...    ...    ...    ...    ...
2021-04-14 21:30:00  False  False  ...   False  False  False  False  False
2021-04-14 22:00:00  False  False  ...   False  False  False  False  False
2021-04-14 22:30:00  False  False  ...   False  False  False  False  False
2021-04-14 23:00:00  False  False  ...   False  False  False  False  False
2021-04-14 23:30:00  False  False  ...   False  False  False  False  False

symbol
RSI_timeperiod                        30
RSI_is_below            40     50     30     40     50
open_time
2020-10-01 00:00:00  False  False  False  False  False
2020-10-01 00:30:00  False  False  False  False  False
2020-10-01 01:00:00  False  False  False  False  False
2020-10-01 01:30:00  False  False  False  False  False
2020-10-01 02:00:00  False  False  False  False  False
...                    ...    ...    ...    ...    ...
2021-04-14 21:30:00  False  False  False  False  False
2021-04-14 22:00:00  False  False  False  False  False
2021-04-14 22:30:00  False  False  False  False  False
2021-04-14 23:00:00  False  False  False  False  False
2021-04-14 23:30:00  False  False  False  False  False

[9408 rows x 30 columns]

In [7]:
strat_results_df, settings_results_df = backtest_df_only(
    prices=prices,
    entries=entries,
    equity=1000.0,
    fee_pct=0.06,
    mmr_pct=0.5,
    lev_mode=LeverageMode.LeastFreeCashUsed,
    size_type=SizeType.RiskPercentOfAccount,
    order_type=OrderType.LongEntry,
    max_equity_risk_pct=np.arange(3, 7.1, 1),
    risk_rewards=np.arange(3, 11.1, 0.5),
    size_pct=1.0,
    # sl_pcts=np.arange(1,3.1,1),
    tsl_true_or_false=True,
    tsl_pcts_init=np.arange(2, 9.1, 0.5),
    tsl_based_on=SL_BE_or_Trail_BasedOn.low_price,
    tsl_trail_by_pct=np.arange(2, 9.1, 0.5),
    tsl_when_pct_from_avg_entry=np.arange(2, 9.1, 1),
    gains_pct_filter=150,
    upside_filter=0.75,
    divide_records_array_size_by=100,
)

Checking static variables for errors or conflicts.
Turning all variables into arrays.
Checking arrays for errors or conflicts ... the backtest will begin shortly, please hold.
Creating cartesian product ... after this the backtest will start, I promise :).

Starting the backtest now ... and also here are some stats for your backtest.

Total symbols: 5
Total indicator settings per symbol: 6
Total indicator settings to test: 30
Total order settings per symbol: 153,000
Total order settings to test: 765,000
Total candles per symbol: 9,408
Total candles to test: 43,182,720,000

Total combinations to test: 4,590,000

In [8]:
strat_results_df

,symbol,entries_col,or_set,total_trades,gains_pct,win_rate,to_the_upside,total_pnl,ending_eq
17454,ETHUSD,17,62856,53.00,166.88,45.28,0.90,"1,668.81","2,668.81"
18056,ETHUSD,17,123937,52.00,289.17,46.15,0.90,"2,891.71","3,891.71"
17455,ETHUSD,17,62857,53.00,162.71,45.28,0.90,"1,627.09","2,627.09"
18055,ETHUSD,17,123936,55.00,274.51,43.64,0.90,"2,745.06","3,745.06"
17617,ETHUSD,17,93457,51.00,224.00,47.06,0.90,"2,239.96","3,239.96"
...,...,...,...,...,...,...,...,...,...
9018,BTCUSDT,2,152678,45.00,183.52,62.22,0.75,"1,835.15","2,835.15"
9599,BTCUSDT,5,62352,54.00,185.26,46.30,0.75,"1,852.58","2,852.58"
491,BTCUSDT,1,31319,53.00,187.80,39.62,0.75,"1,877.98","2,877.98"
2732,BTCUSDT,1,125979,25.00,181.68,56.00,0.75,"1,816.82","2,816.82"
4105,BTCUSDT,2,93537,44.00,180.20,54.55,0.75,"1,802.01","2,802.01"

In [1]:
settings_results_df

NameError: name 'settings_results_df' is not defined

In [9]:
settings_results_df.iloc[:,18056]

symbol                            ETHUSD
entries_col                           17
max_equity_risk_pct                 7.00
risk_rewards                        3.00
size_pct                            1.00
tsl_based_on                   low_price
tsl_pcts_init                       8.00
tsl_trail_by_pct                    8.00
tsl_when_pct_from_avg_entry         3.00
Name: 18056, dtype: object

In [11]:
order_records = simulate_up_to_6_nb(
    prices=prices['ETHUSD'].values,
    entries=entries.iloc[:,[17]].values,
    equity=1000.0,
    fee_pct=0.06,
    mmr_pct=0.5,
    lev_mode=LeverageMode.LeastFreeCashUsed,
    size_type=SizeType.RiskPercentOfAccount,
    order_type=OrderType.LongEntry,
    max_equity_risk_pct=7,
    risk_rewards=3,
    size_pct=1.0,
    # sl_pcts=np.arange(1,3.1,1),
    tsl_true_or_false=True,
    tsl_based_on=SL_BE_or_Trail_BasedOn.low_price,
    tsl_pcts_init=8,
    tsl_trail_by_pct=8,
    tsl_when_pct_from_avg_entry=3,
    # gains_pct_filter=100,
)

In [12]:
entries.iloc[:,[17]]

symbol              ETHUSD
RSI_timeperiod          30
RSI_is_below            50
open_time
2020-10-01 00:00:00  False
2020-10-01 00:30:00  False
2020-10-01 01:00:00  False
2020-10-01 01:30:00  False
2020-10-01 02:00:00  False
...                    ...
2021-04-14 21:30:00  False
2021-04-14 22:00:00  False
2021-04-14 22:30:00  False
2021-04-14 23:00:00  False
2021-04-14 23:30:00  False

[9408 rows x 1 columns]

In [13]:
entries[[("BTCUSDT", 30, 50)]]

symbol              BTCUSDT
RSI_timeperiod           30
RSI_is_below             50
open_time
2020-10-01 00:00:00   False
2020-10-01 00:30:00   False
2020-10-01 01:00:00   False
2020-10-01 01:30:00   False
2020-10-01 02:00:00   False
...                     ...
2021-04-14 21:30:00    True
2021-04-14 22:00:00    True
2021-04-14 22:30:00    True
2021-04-14 23:00:00    True
2021-04-14 23:30:00    True

[9408 rows x 1 columns]

In [14]:
rsi_ind[[('BTCUSDT', 30)]]

symbol              BTCUSDT
RSI_timeperiod           30
open_time
2020-10-01 00:00:00     NaN
2020-10-01 00:30:00     NaN
2020-10-01 01:00:00     NaN
2020-10-01 01:30:00     NaN
2020-10-01 02:00:00     NaN
...                     ...
2021-04-14 21:30:00   47.78
2021-04-14 22:00:00   46.99
2021-04-14 22:30:00   48.29
2021-04-14 23:00:00   49.41
2021-04-14 23:30:00   48.84

[9408 rows x 1 columns]

In [15]:
indicator_dict = {
    "indicator1": {
        "values1": rsi_ind[[('ETHUSD', 30)]],
        "entries1": entries[[("ETHUSD", 30, 50)]],
    },
}
strat_dashboard(
    indicator_dict=indicator_dict,
    prices=prices.ETHUSD,
    order_records=order_records,
)

Dash is running on http://127.0.0.1:3003/

Dash app running on http://127.0.0.1:3003/