In [8]:
import quantfreedom as qf
import pandas as pd
from quantfreedom.indicators.talib_ind import *
prices = pd.read_hdf('../data/prices.hd5')

In [9]:
prices

symbol                BTCUSDT                               XRPUSDT            \
candle_info              open      high       low     close    open high  low
open_time
2022-04-01 00:00:00 45,511.00 45,639.00 45,414.50 45,600.50    0.81 0.83 0.81
2022-04-01 00:30:00 45,600.50 45,630.00 45,340.00 45,540.00    0.83 0.83 0.82
2022-04-01 01:00:00 45,540.00 45,540.50 45,112.00 45,139.50    0.83 0.83 0.82
2022-04-01 01:30:00 45,139.50 45,248.50 44,801.00 44,919.50    0.82 0.83 0.82
2022-04-01 02:00:00 44,919.50 45,040.50 44,529.00 44,649.50    0.82 0.83 0.81
...                       ...       ...       ...       ...     ...  ...  ...
2023-01-02 22:00:00 16,752.00 16,760.00 16,723.00 16,723.00    0.35 0.35 0.35
2023-01-02 22:30:00 16,723.00 16,725.50 16,675.50 16,695.00    0.35 0.35 0.35
2023-01-02 23:00:00 16,695.00 16,721.00 16,687.50 16,710.00    0.35 0.35 0.35
2023-01-02 23:30:00 16,710.00 16,710.00 16,651.00 16,668.00    0.35 0.35 0.35
2023-01-03 00:00:00 16,668.00 16,690.50 16,644.50 16,679.50    0.35 0.35 0.35

symbol
candle_info         close
open_time
2022-04-01 00:00:00  0.83
2022-04-01 00:30:00  0.83
2022-04-01 01:00:00  0.82
2022-04-01 01:30:00  0.82
2022-04-01 02:00:00  0.81
...                   ...
2023-01-02 22:00:00  0.35
2023-01-02 22:30:00  0.35
2023-01-02 23:00:00  0.35
2023-01-02 23:30:00  0.35
2023-01-03 00:00:00  0.35

[13296 rows x 8 columns]

In [10]:
rsi_ind = from_talib(
    func_name='rsi',
    df_prices=prices,
    cart_product=False,
    combos=False,
    timeperiod=[15,20,25,30],
    # price='open',
)

In [11]:
rsi_ind

symbol              BTCUSDT                   XRPUSDT
RSI_timeperiod           15    20    25    30      15    20    25    30
open_time
2022-04-01 00:00:00     NaN   NaN   NaN   NaN     NaN   NaN   NaN   NaN
2022-04-01 00:30:00     NaN   NaN   NaN   NaN     NaN   NaN   NaN   NaN
2022-04-01 01:00:00     NaN   NaN   NaN   NaN     NaN   NaN   NaN   NaN
2022-04-01 01:30:00     NaN   NaN   NaN   NaN     NaN   NaN   NaN   NaN
2022-04-01 02:00:00     NaN   NaN   NaN   NaN     NaN   NaN   NaN   NaN
...                     ...   ...   ...   ...     ...   ...   ...   ...
2023-01-02 22:00:00   53.93 55.32 56.03 56.35   60.34 61.16 61.02 60.57
2023-01-02 22:30:00   46.42 49.45 51.22 52.28   51.84 54.64 55.72 56.07
2023-01-02 23:00:00   50.39 52.30 53.45 54.12   51.27 54.19 55.34 55.75
2023-01-02 23:30:00   41.23 44.83 47.16 48.69   51.27 54.19 55.34 55.75
2023-01-03 00:00:00   44.21 47.01 48.88 50.11   44.01 48.44 50.59 51.68

[13296 rows x 8 columns]

In [ ]:
ema_on_rsi_ind = from_talib(
    func_name='rsi',
    df_prices=prices,
    cart_product=False,
    combos=False,
    timeperiod=[15,20,25,30],
    # price='open',
)

In [ ]:
# talib_list_of_indicators()

In [ ]:
# talib_func_list_website_link()

In [ ]:
talib_ind_info('rsi')

In [ ]:
talib_ind_info('stoch')

In [ ]:
from_talib(
    func_name='rsi',
    df_prices=prices,
    cart_product=False,
    combos=False,
    timeperiod=[15,20,25,30],
    # price='open',
)

In [ ]:
from_talib(
    func_name='stoch',
    df_prices=prices,
    cart_product=True,
    combos=False,
    fastk_period=[1,10, 8, 5],
    slowk_period=[15,9],
    slowk_matype=[6,3,7],
)['slowk']

In [ ]:
talib_ind_info('atr')