In [1]:
import os
import sys

sys.dont_write_bytecode = True
os.environ["NUMBA_DISABLE_JIT"] = "1"
from quantfreedom.levon_qf.strategy_maker_cls_levon import StrategyMaker

import numpy as np
import pandas as pd

from quantfreedom.data.data_dl import data_download_from_ccxt
from quantfreedom.base import backtest_df_only
from quantfreedom.nb.simulate import simulate_up_to_6_nb
from quantfreedom.evaluators.evaluators import is_below
from quantfreedom.indicators.talib_ind import from_talib
from quantfreedom.enums.enums import (
    LeverageMode,
    SizeType,
    OrderType,
    CandleBody,
)
from quantfreedom.plotting.strat_dashboard import strat_dashboard

np.set_printoptions(formatter={"float_kind": "{:.2f}".format})
pd.options.display.float_format = "{:,.2f}".format

# prices = data_download_from_ccxt(
#     exchange='bybit',
#     start='2020-10-01T00:00:00Z',
#     end='2021-04-15T00:00:00Z',
#     symbols=['BTCUSDT', 'ETHUSD'],
#     timeframe='30m',
# )
sm = StrategyMaker()
# prices.to_hdf("yt_prices.hd5", key='data')
price_data = pd.read_hdf('../tests/data/prices.hd5')
rsi_ind = sm.from_talib(
    func_name="rsi",
    price_data=price_data,
    cart_product=False,
    combos=False,
    timeperiod=[15, 30],
)
entries = rsi_ind.is_below(
    user_args=[40, 50],
    cand_ohlc="close",
)
sm.combined_data_frame()

symbol              BTCUSDT                      EOSUSD                       \
RSI_timeperiod           15            30            15            30
RSI_is_below             40     50     40     50     40     50     40     50
open_time
2020-10-01 00:00:00   False  False  False  False  False  False  False  False
2020-10-01 00:30:00   False  False  False  False  False  False  False  False
2020-10-01 01:00:00   False  False  False  False  False  False  False  False
2020-10-01 01:30:00   False  False  False  False  False  False  False  False
2020-10-01 02:00:00   False  False  False  False  False  False  False  False
...                     ...    ...    ...    ...    ...    ...    ...    ...
2021-04-14 21:30:00   False   True  False   True  False  False  False  False
2021-04-14 22:00:00   False   True  False   True  False  False  False  False
2021-04-14 22:30:00   False   True  False   True  False  False  False  False
2021-04-14 23:00:00   False   True  False   True  False  False  False  False
2021-04-14 23:30:00   False   True  False   True  False  False  False  False

symbol              ETHUSD                      LTCUSDT                       \
RSI_timeperiod          15            30             15            30
RSI_is_below            40     50     40     50      40     50     40     50
open_time
2020-10-01 00:00:00  False  False  False  False   False  False  False  False
2020-10-01 00:30:00  False  False  False  False   False  False  False  False
2020-10-01 01:00:00  False  False  False  False   False  False  False  False
2020-10-01 01:30:00  False  False  False  False   False  False  False  False
2020-10-01 02:00:00  False  False  False  False   False  False  False  False
...                    ...    ...    ...    ...     ...    ...    ...    ...
2021-04-14 21:30:00  False  False  False  False   False  False  False  False
2021-04-14 22:00:00  False  False  False  False   False  False  False  False
2021-04-14 22:30:00  False  False  False  False   False  False  False  False
2021-04-14 23:00:00  False  False  False  False   False  False  False  False
2021-04-14 23:30:00  False  False  False  False   False  False  False  False

symbol              XRPUSD
RSI_timeperiod          15            30
RSI_is_below            40     50     40     50
open_time
2020-10-01 00:00:00  False  False  False  False
2020-10-01 00:30:00  False  False  False  False
2020-10-01 01:00:00  False  False  False  False
2020-10-01 01:30:00  False  False  False  False
2020-10-01 02:00:00  False  False  False  False
...                    ...    ...    ...    ...
2021-04-14 21:30:00  False  False  False  False
2021-04-14 22:00:00  False  False  False  False
2021-04-14 22:30:00  False  False  False  False
2021-04-14 23:00:00  False  False  False  False
2021-04-14 23:30:00  False  False  False  False

[9408 rows x 20 columns]

In [2]:
strat_results_df, settings_results_df = sm.backtest_df(
    prices=price_data,
    equity=1000.0,
    fee_pct=0.06,
    mmr_pct=0.5,
    lev_mode=LeverageMode.LeastFreeCashUsed,
    size_type=SizeType.RiskPercentOfAccount,
    order_type=OrderType.LongEntry,
    max_equity_risk_pct=np.arange(7, 8.1, 1),
    risk_rewards=4,
    size_pct=1.0,
    # sl_pcts=np.arange(1,3.1,1),
    tsl_true_or_false=True,
    tsl_pcts_init=8,
    tsl_based_on=CandleBody.low,
    tsl_trail_by_pct=8,
    tsl_when_pct_from_avg_entry=np.arange(3, 4.1, 1),
    gains_pct_filter=150,
    upside_filter=0.6,
    divide_records_array_size_by=2,
)

Checking static variables for errors or conflicts.
Turning all variables into arrays.
Checking arrays for errors or conflicts ... the backtest will begin shortly, please hold.
Creating cartesian product ... after this the backtest will start, I promise :).

Starting the backtest now ... and also here are some stats for your backtest.

Total symbols: 5
Total indicator settings per symbol: 4
Total indicator settings to test: 20
Total order settings per symbol: 4
Total order settings to test: 20
Total candles per symbol: 9,408
Total candles to test: 752,640

Total combinations to test: 80

In [3]:
orderrecere = sm.select_row_and_simulate([1,22])

In [6]:
pd.DataFrame(orderrecere)

,order_id,order_set_id,bar,size_value,price,avg_entry,fees_paid,order_type,real_pnl,equity,sl_prices,tsl_prices,tp_prices
0,0,0,31,123.23,"10,850.00","10,850.00",NaN,0.00,NaN,"1,000.00",NaN,"9,982.00","14,387.14"
1,1,0,32,123.23,"10,725.00","10,787.14",NaN,0.00,NaN,"1,000.00",NaN,"9,924.17","14,303.78"
2,2,0,33,123.23,"10,577.50","10,716.34",NaN,0.00,NaN,"1,000.00",NaN,"9,859.03","14,209.91"
3,3,0,34,123.23,"10,523.00","10,667.34",NaN,0.00,NaN,"1,000.00",NaN,"9,813.96","14,144.94"
4,4,0,35,123.23,"10,516.00","10,636.73",NaN,0.00,NaN,"1,000.00",NaN,"9,785.79","14,104.34"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2027,2027,1,9373,NaN,NaN,"2,066.89",NaN,12.00,NaN,"3,088.77",NaN,"2,191.99","2,740.71"
2028,2028,1,9403,NaN,NaN,"2,066.89",NaN,12.00,NaN,"3,088.77",NaN,"2,205.42","2,740.71"
2029,2029,1,9404,NaN,NaN,"2,066.89",NaN,12.00,NaN,"3,088.77",NaN,"2,225.16","2,740.71"
2030,2030,1,9405,NaN,NaN,"2,066.89",NaN,12.00,NaN,"3,088.77",NaN,"2,229.62","2,740.71"
2031,2031,1,9406,NaN,NaN,"2,066.89",NaN,12.00,NaN,"3,088.77",NaN,"2,236.80","2,740.71"